<nav class="navbar">
    <div class="logo">🍏 DiabeticCare Admin</div>
    <div class="links">
      <a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/admin/manage-user" routerLinkActive="active">Users</a>
      <a routerLink="/admin/manage-meal" routerLinkActive="active">Meals</a>
      <a routerLink="/admin/manage-meallog" routerLinkActive="active">Meal Logs</a>
      <a routerLink="/admin/manage-fooditem" routerLinkActive="active">Food Items</a>
      <a routerLink="/admin/manage-glucoselog" routerLinkActive="active">Glucose Logs</a>
      <a routerLink="/admin/manage-dietplan" routerLinkActive="active">Diet Plans</a>
      <a routerLink="/admin/login" routerLinkActive="active">Logout</a>
    </div>
  </nav>
  