<nav class="user-navbar">
    <div class="logo">NutriCare</div>
    <ul>
      <li><a (click)="navigateTo('/user/landing')" style="cursor: pointer;">Home</a></li>
      <li><a (click)="navigateTo('/user/dashboard')" style="cursor: pointer;">Dashboard</a></li>
      <li><a (click)="navigateTo('/user/dietplans')" style="cursor: pointer;">Diet Plans</a></li>
      <li><a (click)="navigateTo('/user/meals')" style="cursor: pointer;">Meals</a></li>
      <li><a (click)="navigateTo('/user/meallog')" style="cursor: pointer;">Meal Logs</a></li>
      <li><a (click)="navigateTo('/user/glucoselog')" style="cursor: pointer;">Glucose Logs</a></li>
      <li><a (click)="navigateTo('/user/fooditems')" style="cursor: pointer;">Food Items</a></li>
      <li><button (click)="logout()">Logout</button></li>
    </ul>
  </nav>
  